{% extends 'base.html' %}
{% block content %}
<section class="project-hero" style="background-color: #000;">
    <div class="project-intro" style="text-align: center; width: 100%;">
        <span class="category">Visual Art</span>
        <h1 style="letter-spacing: 15px;">DOBLE EXPOSICIÓN</h1>
    </div>
</section>

<section class="art-gallery block-padding" style="background: #000;">
    <div class="reveal-gallery">
        <img src="/static/img/projects/doble-expo-1.jpg" class="full-width-img">
        <p class="caption">"La naturaleza dentro de nosotros."</p>
        
        <img src="/static/img/projects/doble-expo-2.jpg" class="full-width-img">
    </div>
</section>
{% endblock %}